/* @import url("https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&f[]=general-sans@500,300,600,400,700&f[]=supreme@800,400,200,100,300,500,700&f[]=outfit@400,900,800,300,500,600,200,100,700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "Satoshi", sans-serif;
font-family: "General Sans", sans-serif;
font-family: "Supreme", sans-serif;
font-family: "Outfit", sans-serif; */

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-Regular.otf") format("truetype");
	font-weight: 400;
}

body {
	font-family: "Satoshi", sans-serif;
}

/* font-family: "Satoshi", sans-serif;
font-family: "General Sans", sans-serif;
font-family: "Supreme", sans-serif;
font-family: "Outfit",  sans-serif; */
